@font-face {
  font-weight: 400;
  font-family: 'Direct';
  font-style: normal;
  font-display: swap;
  src:
    local("Direct"),
    url("../fonts/Direct-Regular.woff2") format("woff2"),
    url("../fonts/Direct-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: 'Direct';
  font-style: normal;
  font-display: swap;
  src:
    local("Direct"),
    url("../fonts/Direct-Bold.woff2") format("woff2"),
    url("../fonts/Direct-Bold.woff") format("woff");
}
