.intro {
  min-height: calc(100vh - var(--header-height));
  padding: 8.5rem 0 3rem;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 right -2.4rem;

  @include mq('custom', 'max', 1600) {
    background-position: center;
    padding: 6rem 0;
  }

  @include mq('custom', 'max', 768) {
    padding: 4rem 0;
  }

  @include mq('custom', 'max', 640) {
    min-height: auto;
  }

  &__title {
    max-width: 80.5rem;
    margin-bottom: 2.3rem;

    font: var(--title-h1);

    @include mq('custom', 'max', 768) {
      margin-bottom: 1.6rem;
    }
  }

  &__desc {
    max-width: 66rem;
    margin-bottom: 7.6rem;

    font: var(--text-t1);

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3rem;
    }

  }

  &__advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 77rem;
    margin-bottom: 7.3rem;

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 3rem;
    }
  }

  &__advantages-item-title {
    margin-bottom: 0.5rem;

    font: var(--text-t2);
    font-weight: bold;
    color: var(--primary-color);
  }

  &__advantages-item-text {
    max-width: 21rem;
    font: var(--text-t4);
  }
}
