.shop {
  padding: 7.2rem 0 8.2rem;

  @include mq('custom', 'max', 768) {
    padding: 4rem 0;
  }

  &__title {
    max-width: 84rem;
    margin: 0 auto 2.5rem;

    font: var(--title-h2);
    text-align: center;
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    margin-bottom: 7.3rem;

    text-align: center;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3rem;
    }

  }

  &__subtitle {
    margin-bottom: 4rem;

    font: var(--text-t1);
    text-align: center;

    @include mq('custom', 'max', 640) {
      margin-bottom: 3rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.2rem;
    margin-bottom: 6rem;

    @include mq('custom', 'max', 870) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 3rem;
    }

    @include mq('custom', 'max', 380) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-height: 19.8rem;

    border-radius: 3rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow:  0 0 3.8rem 0 rgba(0, 0, 0, 0.11);

    @include mq('custom', 'max', 640) {
      border-radius: 2rem;
    }
  }

  &__item-img {
    height: 12.7rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3.9rem;
    flex-grow: 1;

    font: var(--text-t6);
    text-align: center;

    @include mq('custom', 'max', 1024) {
      padding: 1rem 2rem;
    }
  }

  &__desc {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;

    text-align: center;
  }
}
