.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  overflow: hidden;

  font: var(--text-t4);

  transition: 0.3s;

  &--big {
    padding: 0 6.3rem;
    height: 8.3rem;
  }

  &--red {
    background-color: var(--primary-color);
    color: #fff;

    @include mq("custom", "min", 1025) {
      &:hover {
        background-color: #C20C1BFF;
      }
    }
  }
}
