section.about
  .container
    h2.about__title
      | #[b «Выдумщики»] — история семейного бизнеса От склада в комнате общежития к бизнесу с&nbsp;прибылью 750 000 рублей в месяц
    .about__wrapper
      .about__text
        p
          | Желание открыть «что-то своё» впервые возникло в кризисном 2008 году. Приближался Новый год, хотелось делать подарки близким, но с деньгами было сложно. В журнале Cosmopolitan я увидела статью о мыле «своими руками» и загорелась идеей создать такие подарки.
        p
          | С этого всё и началось. В феврале 2009 года у нас уже был первый интернет-магазин товаров для мыловарения, который Алексей сверстал за одну ночь. Наш первый склад — это две доски под телевизором в комнате университетского общежития.
        p
          | Первый офлайн-магазин мы открыли в августе 2009 года в одном из павильонов ВДНХ. А уже в декабре появился первый оптовый покупатель — сеть магазинов для рукоделия «Леонардо».
        p
          | В 2010 году у нас уже было несколько сетевых заказчиков, поэтому пришлось арендовать оптовый склад. В 2011 году переехали в новое помещение с большей площадью из-за роста объёмов продаж.
        p
          | Путь к собственному производству был непростым и вынужденным. Мыльные основы стали изготавливать с 2012 года. Первый станок для производства пластиковых форм купили в декабре 2012 года, в ноябре 2014 года купили фабрику в г.Железногорск, а в марте 2015 года цех формовки выпускал уже более 1 млн форм в год.

      .about__authors-block
        .about__authors-img
          +pictureLazy("about-1.png", "Фото")

        .about__authors
          h3.about__authors-title
            | Мы супруги Любовь и Алексей Шенеман.
          p.about__authors-text
            | «Выдумщики» — это наш семейный бизнес, любимое дело и гордость.
