section.family
  .wide-container
    .family__wrapper
      .family__img
        +pictureLazy("family-1.jpg", "Фото")
      .family__content
        h2.family__title
          | Семейный бизнес по франшизе «Выдумщики» — возможность жить  #[b по собственным правилам]
        .family__text
          p
            | Средняя зарплата по России в 2023 году составляет 63,2 тыс. рублей, по данным Росстата. При этом во многих регионах уровень оплаты труда от 33 до 42 тыс. рублей. Для семей с детьми такой зарплаты хватает только на закрытие самых необходимых потребностей.
          p
            | #[b Работая в найме, человек всегда находится в зависимом положении : ] отпуск по графику, необходимость отпрашиваться по личным делам, проблемы с больничными и т.д. Многие люди задумываются о создании собственного бизнеса, но отсутствие опыта и вероятные риски часто становятся препятствиями что-то менять.
          p
            b
              | Франшиза «Выдумщики» с готовыми бизнес-процессами и сопровождением опытных наставников — идеальная возможность начать семейное дело, жить в собственном графике и обеспечить комфортный уровень жизни.
          p
            | #[b Спрос на товары для хобби ежегодно растёт и не зависит от сезона ], поэтому в магазинах для творчества «Выдумщики» всегда поток покупателей. #[b  А поддержка управляющей ] компании #[b обеспечит выход на стабильно высокую выручку и прибыль.]

