main.page-main.main
  include intro
  include features
  include business
  include about
  include production
  include shop
  include family

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
