-
  const shopList = [
    {
      img: "shop-1.jpg",
      text: "товары для мыловарения"
    },
    {
      img: "shop-2.jpg",
      text: "бомбочки для ванны"
    },
    {
      img: "shop-3.jpg",
      text: "свечи своими руками"
    },
    {
      img: "shop-4.jpg",
      text: "косметика своими руками"
    },
    {
      img: "shop-5.jpg",
      text: "аромадиффузоры"
    },
    {
      img: "shop-6.jpg",
      text: "наборы для детского творчества"
    },
    {
      img: "shop-7.jpg",
      text: "упаковка и оформление"
    },
    {
      img: "shop-1.jpg",
      text: "слаймы своими руками"
    },
    {
      img: "shop-8.jpg",
      text: "эпоксидная смола"
    },
    {
      img: "shop-9.jpg",
      text: "архитектурный гипс и бетон"
    },
  ]

section.shop
  .container
    h2.shop__title
      | Магазины «Выдумщики» — место притяжения #[b  творческих людей]
    .shop__text
      p
        | Принципы работы компании «Выдумщики» — выявить потребности, создать качественный продукт по конкурентной цене, чувствовать тренд и адаптировать его под желания покупателей. Конверсия в продажи 95% — подтверждение правильно выбранной стратегии.
    h3.shop__subtitle
      | Ассортимент для реализации творческого потенциала
    ul.shop__list
      for item in shopList
        li.shop__item
          .shop__item-img
            +pictureLazy(item.img, "Фото")
          p.shop__item-text= item.text
    .shop__desc
      p
        | Все рецептуры, составы, технологии производства, материалы и товары разрабатываются в собственной лаборатории и изготавливаются на фабрике головной компании, поэтому на полках магазинов всегда есть полный ассортимент качественной продукции.
