header.header
  .container
    .header__wrapper
      a.header__logo.link(href="/")
        +icon-multi("logo")
      p.header__desc
        | Франшиза от производителя с 15-летним опытом
      include ../parts/phone-block

