.loader
  .loader__logo
    +icon-multi('loader-logo')

style.
  .loader {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: #fff;
    opacity: 1;
    visibility: visible;

    transition: 0.3s;
  }

  .animatable .loader {
    transition-delay: 0.2s;
    opacity: 0;
    visibility: hidden;
  }

  .animatable .loader__logo {
    transform: scale(1.5);
  }

  .loader__logo {
    position: relative;

    width: 10rem;
    height: 10rem;

    transition: 0.3s;
  }

  .loader__logo svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
