.phone-block
  a.phone-block__link.link(href="tel:89055780648")
    +icon-multi("phone-icon")
  .phone-block__content
    span.phone-block__number
      | 8-905-578-06-48
    span.phone-block__desc
      | бесплатный звонок
