.modal__container(data-target="partner").modal-parnter
  .modal__content
    +modal-form("Получите больше информации о&nbsp;франшизе", "partner", "modal-form-1.jpg", "Узнать подробнее")

.modal__container(data-target="business").modal-business
  .modal__content
    +modal-form("Узнайте период выхода на точку безубыточности", "business", "modal-form-2.jpg", "Получить финмодель")

.modal__container(data-target="shop").modal-shop
  .modal__content
    +modal-form("Откройте магазин с линейкой продукции «Выдумщики»", "shop", "modal-form-3.png", "Получить условия сотрудничества")
